<!doctype html>
<!--[if IE 7]>  <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>  <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Ipad Mini Apple 16 Gb Wifi Led 7.9</title>

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <!--[if IE 8]>
    <script src="http://ui.mlstatic.com/polyfills/es5/4.1.13/es5-shim.min.js"></script>
    <script src="http://ui.mlstatic.com/polyfills/es5/4.1.13/es5-sham.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="dist/css/uxtest.min.css">    
</head>

<body>
<main role="main">
    <article id="my-product" itemscope itemtype="http://schema.org/Product">
        <header>
            <h1 itemprop="name">Ipad Mini Apple 16 Gb Wifi Led 7.9</h1>
        </header>

        <section class="mesh-row">
            <div id="my-product-gallery" class="mesh-col-m-6 mesh-col-s-12">
                <figure>
                    <a id="zoom-default" class="zoom" href="dist/img/apple-pad-big.jpg" target="_blank">
                        <img itemprop="image" src="dist/img/apple-pad-medium.jpg" alt="Ipad Mini Apple 16 Gb Wifi Led 7.9"/>
                    </a>
                </figure>
            </div>
            <div id="my-product-info" class="mesh-col-m-6 mesh-col-s-12">
                    <form role="form"> 
                        <fieldset class="my-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <label itemprop="price">$ 4.799<sup>99</sup></label>
                        </fieldset>

                        <fieldset class="my-control">
                            <label for="productQuantity">Quantity</label>
                            <select id="productQuantity" aria-required="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </fieldset>

                        <fieldset class="my-control">
                            <label for="productPayments">Payments</label>
                            <select id="productPayments" aria-required="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12" selected>12</option>
                            </select>
                        </fieldset>

                        <input type="submit" value="Buy" class="my-btn" title="Comprar Ipad Mini Apple 16 Gb Wifi Led 7.9" role=button>
                            
                        <p>MercadoLibre isn´t the owner of this product.</p>
                    </form>
                        
                    <h6><strong>More products like this</strong></h6>
                    <div class="my-carousel">
                        <ul>
                            <li><img src="dist/img/images03.jpg"></li>
                            <li><img src="dist/img/images05.jpg"></li>
                            <li><img src="dist/img/images04.jpg"></li>
                            <li><img src="dist/img/images02.jpg"></li>
                            <li><img src="dist/img/images06.jpg"></li>
                            <li><img src="dist/img/images07.jpg"></li>
                            <li><img src="dist/img/images01.jpg"></li>
                            <li><img src="dist/img/images08.jpg"></li>
                            <li><img src="dist/img/images09.jpg"></li>
                        </ul>
                    </div>
            </div>   
        </section>

        <section class="mesh-row">
            <div class="mesh-col-s-12 mesh-col-m-12">
                <hr>
                <div class="myTabs" role="tablist">
                    <ul>
                        <li><a href="#tabProduct" >Product description</a></li>
                        <li><a href="#tabQuestions">Questions</a></li>
                    </ul>
                    <div class="ch-box-lite">
                        <div id="tabProduct">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet purus in sapien luctus sodales. Curabitur dui velit, cursus in sagittis aliquam, dictum at neque. Ut gravida scelerisque lorem non pulvinar. Pellentesque et urna vitae nisl porta imperdiet sed nec ipsum. Sed non sem velit. Cras id consectetur tellus.</p>
                        </div>

                        <div id="tabQuestions" class="ch-hide">
                            <dl class="ch-list">
                                <dt>Buyer</dt>
                                <dd class="ch-box-help">Do you have this one in white?</dd>
                                <dt>Seller</dt>
                                <dd class="ch-box-help">No I don´t, I only have black.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>

    <script src="dist/js/uxtest.min.js"></script>

</body>
</html>
